:root {
  --color-primary: #1a2742;
  --color-secondary: #293754;
  --color-info: #fbe6ff;
  --color-light: #F3F4F4;

  --bs-primary-rgb: 26, 39, 66;
  --bs-secondary-rgb: 41, 55, 84;
  --bs-info-rgb: 251, 230, 238;
  --bs-light-rgb: 243, 244, 244;

  /* Map them to Bootstrap's internal variables */
  --bs-primary: var(--color-primary);
  --bs-secondary: var(--color-secondary);
  --bs-info: var(--color-info);
  --bs-light: var(--color-light);
}

